
#header{
    background-color: black;
    color: white;
    padding: 1%;
    position: fixed;    
    width: 100%;
    height: 7%;
    border: rgb(35, 35, 35) solid 1px;
    z-index: 1;
}

#logo {
    float: left;
    width: 15%;
    filter:invert(0.25);
    margin-right: 20px;
}

#heading{
    padding-top: 0.5%;
    margin: 0px;
    color: lightgray;
    /* float: right; */
    /* margin-bottom: 5%; */
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

#switchContainer{
    float: right;
    width: 20%;
    margin-left: 5%;
    margin-top: 0.5%;
}

#switchLabel{
    float: left;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-top: 3%;
    margin-right: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* These go with the switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgb(158, 83, 196);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(158, 83, 196);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* -------------------------------- */

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:black;
    margin: 0px;
    font-size: large;
}

#controlPanel{
    padding-left: 5px;
    float: top;
    padding-top: 7%;
    background-color: black;
    /* background-color: purple; */
    border: rgb(35, 35, 35) solid 1px;
    color: silver;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 20%;
    position: fixed;

}

select{
    margin-top: 1%;
    width: 15%;
    margin-left: 1%;
    /* position: relative; */
    /* position: static; */
}

#passwordfield {
    width: 30%;
}

#semesterSlider{
    width: 62%;
    accent-color: rgb(196, 83, 196);
    cursor: ew-resize;
}

.headerBtns{
    float: relative;
    /* margin-right: 2%; */
    /* margin-top: 1%; */
    background-color: rgb(158, 83, 196);
    color: whitesmoke;
    border: none;
    /* padding: 0.1%; */
    margin-left: 1%;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#tableModal {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: whitesmoke;
    
}

.modal-content {
    background-color: rgb(158, 83, 196);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 50%;
    color: whitesmoke;
}

.close {
    color: silver;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

/* -------------------------------- */

#mainBody{

    padding-top: 18%;
    background-color: black;
    width: 100%;
    height: 80%;
    margin-bottom: 7.5%;
    float: right;
    /* position: fixed; */
    /* Temp fix for table appearing behind footer*/ 
    z-index: 1;

}

#tableHeader{
    background-color: black;
    font-weight: bold;
    color: silver;
    margin: auto;
    padding-left: 0.5%;
}

.courseInput{
    height: 100%;
}

input{
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
}
input:disabled{
    background-color:rgba(255, 255, 255, 0.25);
    width: 100%;
    cursor: not-allowed;
}

/* for the autocompletes */
.ui-autocomplete {
    background-color: rgba(255, 255, 255, 0.75);
    max-height: 15%;
    overflow-y: auto;
    overflow-x: hidden;
}


table{
    /* border: 1px solid rgb(246, 255, 0); */
    width: 99%;
    margin: 0 auto;

    /* padding-bottom: 5%; */
    /* padding-top: 10%; */
} 

td{
     border: 1px solid black;
     height: auto; 
     width: auto;
     /* font-size: small; */
}

tr{
    width: 100%;
    border-bottom: 1px solid black;
}

#headerRow{
    background-color: silver;
    font-weight: bold;
    /* font-size: small; */
}

.firstCol{
    background-color: rgb(199, 2, 2);
    color: white;
    /*font-size-adjust: 0.8em;   */
    width:10%;
    height: 10%;
    font-size-adjust: 0.8em;
    /* text-align: center; */
    /* overflow:auto; */
    overflow-y: hidden;
    overflow-x: scroll;
}

#footer{

    background-color: rgb(196, 0, 196);
    color: white;
    text-align: center;
    /* float: bottom; */
    position: fixed;
    bottom: 0%;
    width: 100%;
    /*need to find fix for table appearing behind footer after majors reqs added */
    z-index:0;
} 

/* #hideBtn{
    position: float;
    float: right;
    background-color: rgb(158, 83, 196);
    color: whitesmoke;
    border: none;
    padding: 0.5%;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */